<section class="flex flex-col items-center text-white pt-40 px-10">
    <div class="mb-4 flex flex-col text-center">
        <h2 class="text-5xl font-bold">A PROPOS</h2>
        <h3 class="text-2xl text-gray-500">Lorem Ipsum dolor</h3>
    </div>
    <div class="flex flex-col xl:flex-row gap-4 xl:w-2/3 w-full">
        <div class="flex flex-col bg-zinc-900 p-6 w-full xl:w-1/2">
            <h2 class="text-2xl font-bold mb-2">Salut 👋</h2>
            <p class="text-xl text-gray-400">Je suis un étudiant en ingénierie en alternance, <br> passionné par le monde de l'informatique, et plus particulièrement par le développement web. <br> Récemment, j'ai lancé une entreprise en collaboration avec un camarade, où nous fournissons des prestations numériques de qualité. <br> Mon expertise dans le domaine informatique se marie à ma passion pour le sport et la musique, qui m'inspirent au quotidien. Mon parcours d'ingénieur et ma créativité me permettent de concrétiser des projets passionnants dans le monde numérique, tout en équilibrant ma vie entre technologie, sport et mélodies.</p>
        </div>
        <div class="flex flex-col gap-4 w-full xl:w-1/2">
            <div class="bg-zinc-900 p-6 h-1/2 flex flex-col">
                <h2 class="text-2xl font-bold mb-2">Informations</h2>
                <p class="text-xl text-gray-400 mb-2">Je me présente je m'appelle <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-400 to-blue-300 font-bold"> Antonin Martinez</span> j'ai <span class="font-bold underline underline-offset-2 text-white">21 ans</span> et j'étudie actuellement sur <span class="drop-shadow-[0_0px_10px_rgba(255,255,255,1)] text-white">Reims</span></p>
                <a href="" class="rounded-lg py-2 px-4 border-2 border-white hover:bg-white hover:text-black duration-300 w-fit">Télécharger mon cv</a>
            </div>
            <div class="bg-zinc-900 p-6 h-1/2">
                <h2 class="text-2xl font-bold mb-2 text-start">Contact</h2>
                <p class="text-xl text-gray-400">Pour me contacter vous pouvez m'envoyer un mail à</p>
                <h2 class="text-2xl bg-clip-text text-transparent bg-gradient-to-r from-red-400 to-blue-300 font-bold">pro@antonin-martinez.fr</h2>
            </div>
        </div>
    </div>
</section>