<section class="flex flex-col items-center justify-center text-white min-h-screen px-10">
    <div class="mb-4 flex flex-col text-center">
        <h2 class="text-5xl font-bold">A PROPOS</h2>
        <h3 class="text-2xl text-gray-500">Quelques informations sur moi</h3>
    </div>
    <div class="flex flex-col xl:flex-row gap-4 xl:w-2/3 w-full">
        <div class="flex flex-col bg-zinc-900 p-6 w-full xl:w-1/2">
            <h2 class="text-2xl font-bold mb-2">Bonjour 👋</h2>
            <p class="text-xl text-gray-400">Je suis en <span class="text-white">dernière année</span> de cycle ingénieur informatique, en statut alternant. <br> J'aime créer et développer des projets en tout genre, c'est pourquoi je me suis dirigé vers l'informatique. <br> Grâce à mes 3 années en alternance j'ai pu développer mes compétences techniques. Cela m'a également permis de m'intégrer au sein d'une équipe de développement et d'apprendre à collaborer en équipe dans un projet technique. Enfin j'ai eu l'occasion de réaliser plusieurs missions à l'étranger qui m'ont permis de découvrir d'autres façons de collaborer.</p>
        </div>
        <div class="flex flex-col gap-4 w-full xl:w-1/2">
            <div class="bg-zinc-900 p-6 h-1/2 flex flex-col">
                <h2 class="text-2xl font-bold mb-2">Informations</h2>
                <p class="text-xl text-gray-400 mb-2">Je me présente, je m'appelle <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-400 to-blue-300 font-bold"> Antonin Martinez</span>. <br> J'ai <span class="font-bold underline underline-offset-2 text-white">{{ this.age }} ans</span> et j'étudie actuellement sur <span class="drop-shadow-[0_0px_10px_rgba(255,255,255,1)] text-white">Reims</span></p>
                <a href="assets/pdf/CV_Antonin_Martinez.pdf" download="CV_Antonin_Martinez" class="rounded-lg py-2 px-4 border-2 border-white hover:bg-white hover:text-black duration-300 w-fit">Télécharger mon cv</a>
            </div>
            <div class="bg-zinc-900 p-6 h-1/2">
                <h2 class="text-2xl font-bold mb-2 text-start">Contact</h2>
                <p class="text-xl text-gray-400">Pour me contacter, vous pouvez m'envoyer un mail à</p>
                <h2 class="text-xl bg-clip-text text-transparent bg-gradient-to-r from-red-400 to-blue-300 font-bold">antonin.mgm.martinez&#64;gmail.com</h2>
            </div>
        </div>
    </div>
</section>