<footer class="flex flex-col items-center text-gray-500">
    <h4 class="mb-2">Made with ❤️ by Me.</h4>
    <div class="flex flex-row gap-4 mb-2">
        <a href="https://github.com/AntoninMart" target="_blank">
            <img src="assets/images/github.svg" alt="github" class="cursor-pointer">
        </a>
        <a href="https://www.linkedin.com/in/antonin-martinez-abb949221/" target="_blank">
            <img src="assets/images/linkedin.svg" alt="linkedin" class="cursor-pointer">
        </a>
    </div>
</footer>