<header class="flex justify-center fixed w-full z-50 text-white">
    <div class="bg-zinc-900/30 backdrop-blur-md w-full grid grid-cols-1 md:grid-cols-3 py-4">
        <div class="flex flex-row justify-center items-center gap-4">
            <img src="assets/images/me-ai.png" alt="" class="w-10 rounded-full bg-yellow-400">
            <h1 class="hidden md:block">Antonin Martinez</h1>
        </div>
        <div class="flex flex-row justify-center items-center">
            <h1 class=" underline underline-offset-2 decoration-yellow-300">My portfolio</h1>
        </div>
        <div class="flex flex-row justify-center items-center gap-4">
            <a target="_blank" href="https://www.linkedin.com/in/antonin-martinez-abb949221/" class="text-gray-500 hover:text-white duration-300">Linkedin</a>
            <a target="_blank" href="https://github.com/AntoninMart" class="text-gray-500 hover:text-white duration-300">Github</a>
        </div>
    </div>
</header>