<section class="pt-40 pb-60 flex flex-col items-center text-white px-4">
    <div class="mb-4 flex flex-col text-center">
        <h2 class="text-5xl font-bold">MES FORMATIONS</h2>
        <h3 class="text-2xl text-gray-500">Mon parcours professionnel</h3>
    </div>
    <div class="flex flex-col items-center w-full xl:w-2/3">
        <div class="flex flex-col items-center w-full xl:w-1/2 p-6 bg-zinc-900 text-center">
            <h3 class="text-2xl font-bold">PREPA CESI</h3>
            <h4 class="text-gray-500 text-xl font-bold">2020 - 2022</h4>
            <p class="text-gray-500">Deux années de <span class="underline underline-offset-2">prépa intégrée</span> à <span class="drop-shadow-[0_0px_10px_rgba(250,204,21,1)] text-yellow-400">CESI</span>. Ces deux années suivaient un <span class="font-bold">cursus scientifique général</span> pour nous préparer au cursus ingénieur.</p>
        </div>
    </div>
    <div class="flex flex-col w-2/4 xl:w-1/3">
        <div class="w-1/2 border-r-4 border-white">
            &nbsp; <br> &nbsp;
        </div>
        <div class="w-full border-4 border-b-0 border-white rounded-t-lg">
            &nbsp; <br> &nbsp;
        </div>
    </div>
    <div class="flex flex-row w-full xl:w-2/3 gap-4">
        <div class="flex flex-col w-1/2 items-center py-6 px-2 xl:p-6 bg-zinc-900 text-center">
            <h3 class="text-2xl font-bold">CESI</h3>
            <h4 class="text-gray-500 text-xl font-bold">2022 - 2025</h4>
            <p class="text-gray-500"><span class="underline underline-offset-2">Formation ingénieur en alternance</span> à <span class="drop-shadow-[0_0px_10px_rgba(250,204,21,1)] text-yellow-400">CESI Ingénieur</span> grande école en <span class="font-bold">spécialité informatique</span>.</p>
        </div>
        <div class="flex flex-col w-1/2 items-center py-6 px-2 xl:p-6 bg-zinc-900 text-center">
            <h3 class="text-2xl font-bold">INETUM</h3>
            <h4 class="text-gray-500 text-xl font-bold">2022 - 2025</h4>
            <p class="text-gray-500"><span class="underline underline-offset-2">Alternant ingénieur logiciel</span> chez <span class="drop-shadow-[0_0px_10px_rgba(45,212,191,1)] text-teal-400">Inetum</span>. Je suis chargé de réaliser des <span class="font-bold">projets</span> et <span class="font-bold">nouvelles fonctionnalités</span> pour le progiciel PEP.</p>
        </div>        
    </div>
</section>
