<section class="flex flex-col items-center text-white pt-40 pb-60 px-10">
    <div class="mb-4 flex flex-col text-center">
        <h2 class="text-5xl font-bold">MES HOBBIES</h2>
        <h3 class="text-2xl text-gray-500">Lorem Ipsum dolor</h3>
    </div>
    <div class="flex flex-col xl:flex-row gap-4 xl:w-2/3 w-full">
        <div class="flex flex-col gap-4 w-full xl:w-1/2">
            <div class="bg-zinc-900 py-6 pr-6 flex flex-row items-center">
                <img src="assets/images/guitare.png" alt="" class="w-40 h-40">
                <div class="flex flex-col">
                    <h2 class="text-2xl font-bold mb-2">Guitare 🎸</h2>
                    <p class="text-xl text-gray-400 mb-6">Je me passionne pour la musique, j'ai réaliser 7 années de formations musicale et j'ai fait partie d'un orchestre au saxophone. J'ai ensuite commencer la guitare electrique que je pratique depuis 8 ans.</p>
                </div>
            </div>
            <div class="bg-zinc-900 flex flex-row items-center p-6">
                <img src="assets/images/boxe.png" alt="" class="w-32 h-32 mr-6">
                <div class="flex flex-col">
                    <h2 class="text-2xl font-bold mb-2 text-start">Boxe 🥊</h2>
                    <p class="text-xl text-gray-400">Pour me contacter vous pouvez m'envoyer un mail à</p>
                </div>
            </div>
        </div>
        <div class="flex flex-row-reverse xl:flex-row justify-center items-center bg-zinc-900 p-6 w-full xl:w-1/2">
            <div class="flex flex-col">
                <h2 class="text-2xl font-bold mb-2">Gym training 🦾</h2>
                <p class="text-xl text-gray-400">Je pratique la musculation depuis maintenant 2 ans, je me passionne pour le sport et j'aime m'intéressé à comment être en bonne santé et bien s'entrainé. J'aime également me lancer de nouveau défis comme réaliser un semi-marathon 🏅</p>
            </div>
            <img src="assets/images/haltere.png" alt="" class="w-40 h-40">
        </div>
    </div>
</section>