<section class="flex flex-col items-center justify-center text-white min-h-screen px-10">
    <h2 class="text-5xl font-bold text-center">HARD SKILLS</h2>
    <h3 class="text-2xl text-gray-500 mb-4 text-center">Mes compétences technique</h3>
    <div class="flex flex-col xl:flex-row gap-4 w-full xl:w-2/3 justify-center">
        <div class="flex flex-col w-full xl:w-1/3 p-4 bg-zinc-900 gap-2">
            <h3 class="text-3xl font-bold mb-2">Langage de programmation</h3>
            <p class="text-gray-500">- <span class="text-blue-600">C</span>&nbsp;<span class="text-blue-400">C++</span>&nbsp;<span class="text-purple-400">C#</span></p>
            <p class="text-gray-500">- SQL</p>
            <p class="text-gray-500">- NOSQL</p>
            <p class="text-gray-500">- <span class="drop-shadow-[0_0px_10px_rgba(221,75,37,255)] text-white">HTML</span>/<span class="drop-shadow-[0_0px_10px_rgba(45,83,229,255)] text-white">CSS</span></p>
            <p class="text-gray-500">- <span class="underline underline-offset-2 decoration-yellow-400">PYTHON</span></p>
            <p class="text-gray-500">- <span class="text-orange-600">Git</span></p>
        </div>
        <div class="flex flex-col w-full xl:w-1/3 p-4 bg-zinc-900">
            <h3 class="text-3xl font-bold mb-2">Framework</h3>
            <p class="text-gray-500">- <span class="drop-shadow-[0_0px_10px_rgba(214,0,47,255)] text-white">Angular</span></p>
            <p class="text-gray-500">- <span class="text-emerald-400">VueJS</span></p>
            <p class="text-gray-500">- <span class="underline underline-offset-2 decoration-blue-400">ExpressJS</span></p>
            <p class="text-gray-500">- <span class="bg-purple-500/30 text-white px-1">PrismaJS</span></p>
            <p class="text-gray-500">- <span class="text-blue-400">Tailwind css</span></p>
        </div>
        <div class="flex flex-col w-full xl:w-1/3 p-4 bg-zinc-900 gap-2">
            <h3 class="text-3xl font-bold mb-2">Outlis</h3>
            <p class="text-gray-500">- <span class="underline underline-offset-2 decoration-purple-400">Visual studio code</span>, <span class="underline underline-offset-2 decoration-blue-400">visual studio</span></p>
            <p class="text-gray-500">- <span class="bg-orange-500/30 text-white px-1">Postman</span></p>
            <p class="text-gray-500">- <span class="text-purple-400">GitHub</span>, <span class="text-orange-400">GitLab</span>, <span class="text-blue-400">AzureDevops</span></p>
            <p class="text-gray-500">- SSMS</p>
        </div>
    </div>
</section>